In [48]:
import pandas as pd
import unicodedata

In [49]:
def add_space_if_fw(text):
    if unicodedata.east_asian_width(text) in 'FWA':
        return text + ' '
    else:
        return text

In [50]:
file_name = 'test.csv'

In [51]:
with open(file_name, 'r', encoding='UTF-8') as f:
    content = f.read()

In [52]:
result = ''
for ch in content:
    result += add_space_if_fw(ch)

In [53]:
file_name_changed = 'changed_test.csv'
with open(file_name_changed, mode='w', encoding='UTF-8') as f:
    f.write(result)

In [54]:
widths = [3, 3]
names = ['name', 'code']
df = pd.read_fwf(file_name_changed, widths=widths, names=names, encoding='UTF-8')
df

  name  code
0  abc   123
1  efg   456

In [55]:
import sqlite3

In [56]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [59]:
# 空のテーブル作成
cur.execute(
    'CREATE TABLE items (id INTEGER PRIMARY KEY, name TEXT, code INTEGER)'
)

In [19]:
# itemテーブルから取得
cur.execute(
    'SELECT * FROM items'
)
cur.fetchall()

[(0, 'abc', 123), (1, 'efg', 456), (None, 'xyz', 1)]

In [60]:
# データフレームからテーブル作成
df.to_sql('items', con, if_exists='append', index = False)

cur.execute(
    'SELECT * FROM items'
)
cur.fetchall()

[(1, 'abc', 123), (2, 'efg', 456)]

In [58]:
# テーブル削除
cur.execute(
    'DROP TABLE items'
)

In [41]:
# 全テーブル検索
cur.execute(
    "SELECT NAME FROM sqlite_master WHERE type='table'"
)
cur.fetchall()

[('sqlite_sequence',)]

In [61]:
con.close()