In [1]:
import pandas as pd
import unicodedata

In [2]:
def add_space_if_fw(text):
    if unicodedata.east_asian_width(text) in 'FWA':
        return text + ' '
    else:
        return text

In [3]:
file_name = 'test.csv'

In [8]:
with open(file_name, 'r', encoding='UTF-8') as f:
    content = f.read()

In [9]:
result = ''
for ch in content:
    result += add_space_if_fw(ch)

In [10]:
file_name_changed = 'changed_test.csv'
with open(file_name_changed, mode='w', encoding='UTF-8') as f:
    f.write(result)

In [11]:
colspecs = [(0, 2), (2, 4), (4, 6)]
names = ['id1', 'id2', 'id3']
df = pd.read_fwf(file_name_changed, colspecs=colspecs, names=names, encoding='UTF-8')
df

  id1 id2 id3
0  12  34  56
1   　   あ   い