In [1]:
import pandas as pd
import unicodedata

In [2]:
def add_space_if_fw(text):
    if unicodedata.east_asian_width(text) in 'FWA':
        return text + ' '
    else:
        return text

In [3]:
file_name = 'test.csv'

In [4]:
with open(file_name, 'r', encoding='UTF-8') as f:
    content = f.read()

In [5]:
result = ''
for ch in content:
    result += add_space_if_fw(ch)

In [6]:
file_name_changed = 'changed_test.csv'
with open(file_name_changed, mode='w', encoding='UTF-8') as f:
    f.write(result)

In [8]:
widths = [3, 3]
names = ['col1', 'col2']
df = pd.read_fwf(file_name_changed, widths=widths, names=names, encoding='UTF-8')
df

  col1  col2
0  abc   123
1  efg   456

In [9]:
import sqlite3

In [10]:
con = sqlite3.connect('test.db')
cur = con.cursor()

In [11]:
df.to_sql('items',con,if_exists='replace')

cur.execute(
    'SELECT * FROM items'
)
cur.fetchall()

[(0, 'abc', 123), (1, 'efg', 456)]

In [22]:
# cur.execute(
#     'DROP TABLE items'
# )

In [26]:
# cur.execute(
#     "SELECT NAME FROM sqlite_master WHERE type='table'"
# )
# cur.fetchall()

[('sqlite_sequence',), ('items',)]

In [12]:
con.close()